(-------------------------------------------------------------------------)
( Copyright (c) 2006 by Chris Gray, /k/ Embedded Java Solutions.          )
( All rights reserved.                                                    )
(                                                                         )
( Redistribution and use in source and binary forms, with or without      )
( modification, are permitted provided that the following conditions      )
( are met:                                                                )
( 1. Redistributions of source code must retain the above copyright       )
(    notice, this list of conditions and the following disclaimer.        )
( 2. Redistributions in binary form must reproduce the above copyright    )
(    notice, this list of conditions and the following disclaimer in the  )
(    documentation and/or other materials provided with the distribution. )
( 3. Neither the name of /k/ Embedded Java Solutions nor the names of     )
(    other contributors may be used to endorse or promote products        )
(    derived from this software without specific prior written permission.)
(                                                                         )
( THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESS OR IMPLIED          )
( WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF    )
( MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.    )
( IN NO EVENT SHALL /K/ EMBEDDED JAVA SOLUTIONS OR OTHER CONTRIBUTORS BE  )
( LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR     )
( CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF    )
( SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR         )
( BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,   )
( WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE    )
( OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN  )
( IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.                           )
(-------------------------------------------------------------------------)

( This file uses Forth syntax, so comments look like this. )

( For each device of type sio that you use, you need to specify the path )
( to the device on your platform.                                        )
( attach-serial-device sio 0 /dev/ttyS0   )
( attach-serial-device sio 1 /dev/ttyS1   )
( attach-serial-device sio 2 /dev/ttyS2   )
( attach-serial-device sio 3 /dev/ttyS3  )

( Each register-serial-device command takes three parameters: the name of )
( the device, the "family" name of its driver, and a member number.       )

( Register serial devices - remove the brackets round the ones you need. )
( register-serial-device  sio0   sio  0 )
( register-serial-device  sio1   sio  1 )
( register-serial-device  sio2   sio  2 )
( register-serial-device  sio3   sio  3 )

( Specify the mouse driver and path.  Currently the first two parameters )
( are ignored. Only effective for framebuffer devices, not for X.        )

attach-mouse-device touchscreen 0  /dev/ts

